<div class="container">
	<h1 class="white-text">About Me</h1>

	<p class="flow-text white-text">I started programming in the fall of 2015, and shortly after enrolled in Galvanize, SoMa, to further my education. There, I learned how to build and break web applications using the SEAN stack.</p>
	<p class="flow-text white-text">From there, I gravitated more towards building servers, and keeping information secure. As of 2018 I have a <a href="https://twitter.com/thugcrowd/status/1049857496934993920">ClSSP</a> and completed <a href="https://www.sans.org/course/hacker-techniques-exploits-incident-handling">SANS' SEC504</a>.</p>
</div>