<div class="container">
  <br>
  <div class="typebox-wrapper">
    <h1 class="header center blue-text">I am <span id="typebox"></span></h1>
  </div>
  <br>
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col l4 m12 s12">
        <div class="card white">
          <div class="card-content">
            <div class="icon-block">
              <h2 class="center blue-text"><i class="material-icons">perm_identity</i></h2>
              <h5 class="center">Who I Am</h5>

              <p class="light">Hello! I'm a Software Developer living in the beautiful SF Bay Area.</p><br>
              <a href="/about" id="download-button" class="btn-large waves-effect waves-light blue s12">About Me</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col l4 m12 s12">
        <div class="card white">
          <div class="card-content">
            <div class="icon-block">
              <h2 class="center blue-text"><i class="material-icons">work</i></h2>
              <h5 class="center">What I Do</h5>

              <p class="light">A complete list of my most favorite projects.</p><br>
              <a href="/portfolio" id="download-button" class="btn-large waves-effect waves-light blue s12">Portfolio</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col l4 m12 s12">
        <div class="card white">
          <div class="card-content">
            <div class="icon-block">
              <h2 class="center blue-text"><i class="material-icons">contact_phone</i></h2>
              <h5 class="center">How to Reach Me</h5>

              <p class="light">Everything from my social media to my personal lines.</p><br>
              <a href="/contact" id="download-button" class="btn-large waves-effect waves-light blue center">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
