<div class="container">
	<h1 class="white-text">Services</h1>

	<div class="row">
		<div class="col s12 m6">
			<div class="card white darken-1">
				<div class="card-content black-text">
					<span class="card-title blue-text">Full-Stack Contract (Small Business)</span>
					<p>Are you trying to join the World Wide Web? Are you looking for a clean website to showcase your work and contact information? Look no further! I'll get your business online and admin the website.</p>
				</div>
			</div>
		</div>

		<div class="col s12 m6">
			<div class="card white darken-1">
				<div class="card-content black-text">
					<span class="card-title blue-text">Full-Stack Contract (Internal Tool)</span>
					<p>Have a problem that you would like to automate, like mail services, contact management or payroll? How about a little joke app for a friend? I love solving these problems!</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12 m6">
			<div class="card white darken-1">
				<div class="card-content black-text">
					<span class="card-title blue-text">SEO Optimization</span>
					<p>Want to reach your audience more effectively by landing on that golden First Page Results of Google? It's not as hard as you think! I'll consult on how to properly manage your SEO to reach a wider audience.</p>
				</div>
			</div>
		</div>

		<div class="col s12 m6">
			<div class="card white darken-1">
				<div class="card-content black-text">
					<span class="card-title blue-text">Pen-Test / SE Audit</span>
					<p><b>Hackers? In <i>my</i> app??? <br>It's more likely than you think.</b> <br>I'll try to break your application by any means neccessary in order to discover and patch security holes.<br>For educational purposes, I assure you.</p>
				</div>
			</div>
		</div>
	</div>
</div>